/data/input/CDC/COVIDMCDData
/data/input/CDC/mortalityNCData
/data/output/estimates/ACMCD
/data/output/estimates/ACUCD
/data/output/estimates/NCMCD
/data/output/estimates/NCUCD
/data/output/cleanedCOVIDMCDData
/data/output/cleanedCOVIDUCDData
/data/output/cleanedMortalityACData
/data/output/cleanedMortalityNCData
/data/output/cleanedPopData
/data/output/modelsAndSimulations
.Rhistory
.DS_Store
